html{
    width: 100%;
    height: 100%;
    background: #003300 url("./img/fallen-tree-bg.jpg") no-repeat 50% 50%;
    background-size: cover;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}